---
const { post } = Astro.props;
import { formatDate } from "../../helpers/formatDate";

const { single } = Astro.props;
---

{
  !single && (
    <li>
      <a href={`/posts/${post.slug}`}>
        <div class="post-item-body">
          <div class="title-card">{post.data.title}</div>
          <div>{formatDate(post.data.pubDate)}</div>
        </div>
      </a>
    </li>
  )
}

{
  single && (
    <div>
      <a href={`/posts/${post.slug}`}>
        <div class="post-item-body">
          <div class="title-card">{post.data.title}</div>
          <div>{formatDate(post.data.pubDate)}</div>
        </div>
      </a>
    </div>
  )
}

<style>
  li {
    margin-bottom: 1rem;
  }
  a {
    display: inline-block;
    width: 100%;
    color: var(--base-color);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  .post-item-body {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title-card {
    font-size: 1.2rem;
    color: var(--highlight-color);
  }
</style>
