---
import { getBlogPosts } from "../../helpers/getBlogPosts";
const { fullList, latestPost, fiveRecent } = await getBlogPosts();

const { numberOfPosts } = Astro.props;
console.log(numberOfPosts);
---

<ul>
  {
    numberOfPosts === "all" &&
      fullList.map((post) => (
        <li>
          <a href={`/posts/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
  }

  {
    numberOfPosts === "latest" && (
      <>
        <div>
          <h2>Latest Post</h2>
        </div>
        <div>
          <a href={`/posts/${latestPost.slug}`}>{latestPost.data.title}</a>
        </div>
      </>
    )
  }

  {
    numberOfPosts === "recents" && (
      <div class=" recents-list">
        <h2>Further Reading</h2>
        <div>
          <ul>
            {fiveRecent.map((post) => (
              <li>
                <a href={`/posts/${post.slug}`}>{post.data.title}</a>
              </li>
            ))}
          </ul>
        </div>
      </div>
    )
  }
</ul>

<style>
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 1rem;
  }

  .recents-list {
    margin-top: 4.5rem;
  }
</style>
